@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.large {
  width: 100%;
  height: 48px;
  padding: 14px 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}

.medium {
  width: fit-content;
  height: 38px;
  padding: 10px 20px;
  line-height: 17.53px;
  font-size: 16px;
  font-weight: 700;
}

.mediumSmall {
  width: fit-content;
  height: 38px;
  padding: 10px 20px;
  line-height: 17.53px;
  font-size: 14px;
  font-weight: 700;
}

.small {
  width: fit-content;
  height: 32px;
  padding: 8px 12px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
}

.negative {
  background-color: #d9d9d9;
  color: #fff;
  border-style: none;
}

.default {
  background-color: #fff;
}

.active {
  background-color: #3c6e71;
  color: #fff;
}

.inactive {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  color: fff;
}

.confirm {
  border: 1px solid #0080ff;
  color: #0080ff;
}

.rounded-70 {
  border-radius: 70%;
}

.approved {
  border-radius: 20px;
  background: var(--The-julge-blue-10, #cce6ff);
  color: var(--The-julge-blue-20, #0080ff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pending {
  color: var(--The-julge-green-20, #20a81e);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  background: var(--The-julge-green-10, #d4f7d4);
}

.location {
  border-radius: 20px;
  background: var(--The-julge-red-10, #ffebe7);
  color: var(--The-julge-primary, #ea3c12);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter:hover {
  background-color: #f2f2f3;
}

.search {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.transform-fade {
  transform: translate(-50%, -50%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.appear {
  animation: fade-in 1s;
}

.disappear {
  animation: fade-out 1.1s;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
