@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  font-family: 'pretendard', sans-serif;
}

.active {
  background-color: #3c6e71;
  color: #fff;
}

.negative {
  background-color: #d9d9d9;
  color: #fff;
  border-style: none;
}

.default {
  background-color: #fff;
}

.large {
  padding: 14px 136px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 350px;
}

.medium {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  width: 108px;
}

.small {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 82px;
}
